@import "tailwindcss";
.gif-bg {
    background: url('/public/vecteezy_abstract-colorful-gradient-lines-with-blue-and-pink-light-on_6852817.jpg') no-repeat center center fixed;
    background-size: cover;
  }

.pop{
    font-family: "poppins",sans-serif;
}

